@import '../../variables'

.footer
 display: flex
 flex-direction: column
 gap: 20px
 padding: 0 20px
 margin-top: 50px
 &__logo
  &--image
   width: 180px
 &__social
  margin-top: 20px 
  &--image
   margin-right: 10px

@media (min-width: $layout-breakpoint-small)
 .footer
  flex-direction: row
  justify-content: space-around
  flex-wrap: wrap
  gap: 10px
  &__column
   flex: 15%
  &__logo
   flex: 100%
   &--image
    width: 200px
    margin: auto 0
    display: block
  &__social
   margin-top: 30px
   &--image
    width: 30px
    

@media (min-width: $layout-breakpoint-medium)
 .footer
  &__column
   flex: 15%
  &__logo
   flex: 50%
   &--image
    width: 290px
  &__social
   margin-top: 40px
   &--image
    width: 40px