<footer>
 <div class="footer">
  <div class="footer__column">
   <img class="footer__column--logo" src="../../assets/images/logo-airline.svg" alt="Logo airline to the people">
  </div>
  <div class="footer__social">
    <h3>Follow us</h3>
    <a href="#"><img class="footer__social--image" src="../../assets/icons/icon-x.svg" alt="X-button"></a>
    <a href="#"><img class="footer__social--image" src="../../assets/icons/icon-facebook.svg" alt="Facebook-button"></a>
    <a href="#"><img class="footer__social--image" src="../../assets/icons/icon-youtube.svg" alt="Youtube-button"></a>
   </div>
  <div class="footer__column">
   <h3>Destinations</h3>
   <ul class="footer__menu">
    <li><a href="#">Madrid</a></li>
    <li><a href="#">Barcelona</a></li>
    <li><a href="#">London</a></li>
    <li><a href="#">Paris</a></li>
    <li><a href="#">Rome</a></li>
    </ul>
  </div>
  <div class="footer__column">
   <h3>Legal information</h3>
   <ul class="footer__menu">
    <li><a href="#">Privacy policy</a></li>
    <li><a href="#">Cookie policies</a></li>
    <li><a href="#">data treatment</a></li>
    </ul>
  </div>
  <div class="footer__column">
   <h3>Book your flight</h3>
   <ul class="footer__menu">
    <li><a href="#">Search flights</a></li>
    <li><a href="#">Price calendar</a></li>
    <li><a href="#">Destination map</a></li>
    <li><a href="#">Flight times</a></li>
    </ul>
  </div>
 </div>
 </footer>
