<div class="promo container">
 <div class="promo__content">
    <img class="promo__content--imagen" src="/assets/images/discover-the-world.jpg" alt="Discover the word">
  <div class="promo__text width-small">
    <h2 class="text-xlarge">Our destinations <span class="promo__text--title text-bluelight weight-regular">Discover the world</span></h2>
    <p class="text-medium">Embark on an unforgettable adventure! Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
  </div>
 </div>
</div>
