<nav class="navbar container">
  <app-offcanvas class="visible-s"></app-offcanvas>
   <div class="navbar__logo">
     <a href="#home"><img class="logo--navbar" src="../../assets/images/logo-airline.svg" alt="Logo airline to the people"></a>
   </div>
   <ul class="navbar__menu hidden-s">
    <li><a class="navbar__link" href="#">Check-in</a></li>
    <li><a class="navbar__link" href="#">Manage my booking</a></li>
    <li><a class="navbar__link" href="#">Information</a></li>
   </ul>
   <ul class="navbar__lenguage">
    <li><a class="navbar__link" href="#"><img class="link--icon" src="../../assets/icons/icon-lenguage.svg" alt="Icon lenguage"><span class="hidden-s"> English</span></a></li>
   </ul>
</nav>