<div class="container">
 <h2 class="text-primary">Offers</h2>
 <div class="offers">
   <a class="offers__card" href="#">
     <img class="offers__card--image" src="/assets/images/chicago.jpg" alt="Chicago">
     <h2 class="offers__card--title">Chicago</h2>
     <p class="offers__card--text">From $600.00</p>
   </a>
   <a class="offers__card offers--medium" href="#">
     <img class="offers__card--image" src="/assets/images/porto.jpg" alt="Porto">
     <h2 class="offers__card--title">Porto</h2>
     <p class="offers__card--text">From $600.00</p>
   </a>
   <a class="offers__card" href="#">
     <img class="offers__card--image" src="/assets/images/chicago-2.jpg" alt="Chicago">
     <h2 class="offers__card--title">Chicago</h2>
     <p class="offers__card--text">From $600.00</p>
   </a>
 </div>
</div>
